<swiper [config]="config" class="swiper">

  <ng-template swiperSlide>
    <app-swiper-card
      title="Сделаем мир чище"
      subtitle="Сдай макулатуру или старую одежду и&nbsp;получи скидку на&nbsp;покупку товаров из&nbsp;переработанных материалов"
      btn="Условия сервиса"
      img="/assets/img/serviceCondition.svg"
      link="#"
    ></app-swiper-card>
  </ng-template>

  <ng-template swiperSlide>
    <app-swiper-card
      title="А&nbsp;вы&nbsp;знали..."
      subtitle="что среднее время разложения пластмассовых изделий колеблется от&nbsp;400 до&nbsp;700&nbsp;лет, а&nbsp;полиэтиленовых пакетов&nbsp;&mdash; от&nbsp;100 до&nbsp;200&nbsp;лет?"
      btn="Узнать больше"
      img="/assets/img/plastic.svg"
      link="#"
      back_color="YELLOW"
    ></app-swiper-card>
  </ng-template>

  <ng-template swiperSlide>
    <app-swiper-card
      title="Что с&nbsp;масками?"
      subtitle="Медицинские маски не&nbsp;обязательно должны становиться отходами. Их&nbsp;тоже можно сдать на&nbsp;переработку."
      btn="Пункты сбора масок"
      img="/assets/img/masks.svg"
      link="#"
      back_color="BLUE"
    ></app-swiper-card>
  </ng-template>
</swiper>
