<h3>{{checkboxesGroupTitle}}</h3>
<form
  [formGroup]="form"
  class="checkbox-form"
>
  <app-checkbox
    *ngIf="hasSelectAll"
    formControlName="selectAll"
    title="Выбрать все"
  ></app-checkbox>

  <div
    [class.shadow]="arrCheckboxesTitles.length > 4"
    [class.separator]="arrCheckboxesTitles.length <= 4"
  ></div>

  <div
    formArrayName="selects"
    class="checkboxes__wrapper"
    [class.many-checkboxes__wrapper]='arrCheckboxesTitles.length > 4'
  >
    <div *ngFor="let item of getSelectsInfo().controls, let i = index">
      <app-checkbox
        title="{{arrCheckboxesTitles[i]}}"
        formControlName="{{i}}"
      ></app-checkbox>
    </div>
  </div>
</form>
