<app-forms-header title="Вход"></app-forms-header>

<form [formGroup]="partners_form"
      class="form"
>
  <app-input
    type="email"
    placeholder="Email"
    formControlName="email"
  ></app-input>
  <ng-container *ngIf='hasError("email", "pattern")'>
    <span class='form__error'>Неверный формат почты</span>
  </ng-container>
  <ng-container *ngIf='hasError("email", "required")'>
    <span class='form__error'>Это поле обязательно</span>
  </ng-container>

  <app-input
    type="password"
    placeholder="Пароль"
    formControlName="password"
  ></app-input>
  <ng-container *ngIf='hasError("password", "pattern")'>
				<span class='form__error'>Пароль должен сожержать латинские заглавные и строчные буквы, а также
					цифру</span>
  </ng-container>
  <ng-container *ngIf='hasError("password", "required")'>
    <span class='form__error'>Это поле обязательно</span>
  </ng-container>
  <ng-container *ngIf='hasError("password", "minlength")'>
    <span class='form__error'>Минимальная длина пароля 8 символов</span>
  </ng-container>
  <ng-container *ngIf='hasError("password", "maxlength")'>
    <span class='form__error'>Максимальная длина пароля 15 символов</span>
  </ng-container>

  <app-button
    [disabled]="!partners_form.valid"
    [wide]="true"
    (submit)="auth(partners_form)"
    text="Войти"
  ></app-button>
</form>

<section class="links">
  <button
    class="btn__link"
    (click)="openSignInWithSmsModal()"
  >Войти с&nbsp;помощью смс
  </button>

  <button
    class="btn__link"
    (click)="openSignUpPartnersModal()"
  >Регистрация
  </button>
</section>
