@import "mixins"

\:host
  display: block

.wrapper
  @include main_content
  margin: 32px auto
  @include tablet
    margin: 16px auto
    width: 91vw


.search
  display: flex
  flex-direction: row
  column-gap: 20px
  width: 100%
  @include tablet
    column-gap: 16px

.filter
  flex-grow: 1
  min-width: 280px

.checkboxes
  max-width: 280px
  @include tablet
    display: none


