<app-baselayout [hasFooter]="false">
  <app-map></app-map>

  <main class="wrapper">
    <div class="search">
      <app-input-with-icon
        class="search__input"
        icon="search"
        placeholder="Поиск"
      ></app-input-with-icon>

      <app-select
        class="search__select"
        [optionsList]="arrShops"
        itemName="магазина"
        icon="arrow-down"
      ></app-select>

      <app-select
        class="search__select"
        [optionsList]="arrMaterials"
        itemName="материала"
        icon="arrow-down"
      ></app-select>

      <button (click)='openBottomSheetFilters()'
              class='filter__btn__wrapper'>
        <app-svg-icon name='filter'></app-svg-icon>
      </button>
    </div>

    <section class='cards__wrapper'>
      <div class='selected__portal__wrapper'>
        <ng-template [cdkPortalOutlet]='selectedPortal'></ng-template>
      </div>
    </section>
    <!--    есть вариант вытащить его за лэйаут и дать ширину 100%, но не знаю правильно ли...-->
    <button class='collection__points--mobile__btn'
            (click)='openBottomSheetListCollectionPoint()'>Показать пункты сбора
    </button>

  </main>
</app-baselayout>
