<app-baselayout [hasFooter]="false">
  <app-map></app-map>

  <main class="wrapper">
    <div class="search">
      <app-input-with-icon
        class="search__input"
        icon="search"
        placeholder="Поиск"
      ></app-input-with-icon>

      <app-select
        class="search__select"
        [optionsList]="arrShops"
        itemName="магазина"
        icon="arrow-down"
      ></app-select>

      <app-select
        class="search__select"
        [optionsList]="arrMaterials"
        itemName="материала"
        icon="arrow-down"
      ></app-select>
    </div>
  </main>
</app-baselayout>
